.episodes {
    background-color: #1e293b;
    padding: 1rem;
    border-radius: .5rem;
}

.episodes__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.episodes__header strong {
    font-size: x-large;
}

.episodes__header .sort {
    width: 25px;
    cursor: pointer;
}

.episodes__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

