#root{
 /* max-width: 90rem;
 min-height: 100dvh; */
 /* margin: auto; */
}

main{
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 767px) {
    main {
        flex-direction: column;
    }
}